<div class="container-bg" [className]="isDarkMode ? 'container-bg' : 'container-bg-light'">
  <div class="img-block" [className]="isDarkMode ? 'img-block' : 'lightBg'" >

  </div>
  
</div>

<div class="container">
  <header>
    <h1>TODO</h1>
    <img [src]="isDarkMode ? '../assets/icon-sun.svg' : '../assets/icon-moon.svg' " alt="" (click)="onChangeMode()">
  </header>

  <main>
    <app-todo-input [isDarkMode]="isDarkMode" (inputEvent)="addTodo($event)"></app-todo-input>

    <app-todos-list 
      [todosList]="todosList" 
      [isDarkMode]="isDarkMode" 
      (id)="changeTodoDone($event)"
      (crossId)="onCrossDelete($event)"
    >
      <app-filters 
         (clearDoneTodos)="clearDoneTodos()"
         [todosList]="todosList"
         [itemsLeft]="calcItemsLeft()"
      ></app-filters>
    </app-todos-list>
  </main>
</div>