.list {
    background: var(--Dark-theme-Very-Dark-Desaturated-Blue);
    border-radius: 5px;
    box-shadow: 4px 4px 14px 4px rgba(0, 0, 0, 0.25);

}

ul {
    width: 100%;
    margin-top: 30px;
}

.lightMode {
    background: var(--Light-Theme-Very-Light-Gray);
    color: var(--Dark-theme-Very-Dark-Blue);
}