<div class="filters-div">
    <span class="itemLeft">{{itemsLeft}} items left</span>

    <div class="filters">
        <span 
            (click)="onClick($event)" 
            [ngClass]="filterActive === 'All' ? 'active' : '' " 
            #All
        >All</span>

        <span 
        (click)="onClick($event)" 
         [ngClass]="filterActive === 'Active' ? 'active' : '' " 
        >Active</span>

        <span 
        (click)="onClick($event)" 
            [ngClass]="filterActive === 'Completed' ? 'active' : '' " 
        >Completed</span>
    </div>

    <span (click)="clearDone()">Clear Completed</span>
</div>